<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ooink Ramen | Online Order</title>
    {% load static %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/online_order.css' %}">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex justify-content-center">
        <div>
            <a class="navbar-brand" href="/">
                <img class="resizing" src="{% static 'ooink_images/piglet.jpg' %}" alt="Ooink Piglet Image" height="60">
                <img src="{% static 'ooink_images/ooink.jpg' %}" alt="Ooink Logo">
            </a>
            <h2 class="text-center">Online Ordering</h2>
        </div>
    </nav>
    <main>
        <div>
            <p class="date border col-sm-11">The current date and time: {{date}} {{time}}</p>
            <p class="d-inline-block border p-3">PICKUP only at this location</p>
            <p class="d-inline-block border p-3 col-sm-8">OPEN 11:30am - 2:00pm, 4:00pm - 8:00pm</p>
        </div>
        <div class="d-inline-block border col-md-8 mb-4 popup-overlay">
            <div>
                <a class="btn btn-outline-primary" href="#ramen">Ramen Home Cooking Kits</a>
                <a class="btn btn-outline-primary" href="#chicken">Chicken</a>
                <a class="btn btn-outline-primary" href="#beverages">Beverages</a>
                <a class="btn btn-outline-primary" href="#beer">Beer & Sake</a>
                <a class="btn btn-outline-primary" href="#merchandise">Merchandise</a>
            </div>
            <div>
                <p id="ramen" class="mb-0 mt-3 order_heading">Ramen Home Cooking Kits</p>
                <p>All ramen below are sold as Home Cooking Kits</p>
                <div class="row ml-2">
                    <div id="kotteri" class="border p-3">
                        <img class="order_img" src="{% static 'ooink_images/kotteri.jpg' %}" alt="Kotteri Ramen Image">
                        <p class="text-center">KOTTERI</p>
                    </div>
                    <div id="mala_kotteri" class="border p-3">
                        <img class="order_img" src="{% static 'ooink_images/mala_kotteri.webp' %}" alt="Mala Koterri Ramen Image">
                        <p class="text-center">MALA KOTTERI</p>
                    </div>
                    <div class="border p-3">
                        <img id="shio" class="order_img" src="{% static 'ooink_images/shio.webp' %}" alt="Shio Ramen Image">
                        <p class="text-center">SHIO</p>
                    </div>
                </div>
                <div class="row ml-2">
                    <div class="border p-3">
                        <img id="shoyu" class="order_img" src="{% static 'ooink_images/shoyu.jpg' %}" alt="Shoyu Ramen Image">
                        <p class="text-center">SHOYU</p>
                    </div>
                    <div class="border p-3">
                        <img id="spicy_vegetarian" class="order_img" src="{% static 'ooink_images/spicyvegetarian.jpg' %}" alt="Spicy Vegetarian Ramen Image">
                        <p class="text-center">SPICY VEGETARIAN</p>
                    </div>
                    <div class="border p-3">
                        <img id="vegetarian_miso" class="order_img" src="{% static 'ooink_images/veg_miso.webp' %}" alt="Vegetarian Miso Image">
                        <p class="text-center">VEGETARIAN MISO</p>
                    </div>
                </div>
                <div class="row ml-2">
                    <div id="shanghai" class="border p-3">
                        <img class="order_img" src="{% static 'ooink_images/shanghai.jpg' %}" alt="Shanghai Image">
                        <p class="text-center">SHANGHAI</p>
                    </div>
                </div>
            </div>
            <div>
                <p id="chicken" class="mb-0 mt-3 order_heading">Chicken</p>
                <div class="row ml-2">
                    <div class="border p-3">
                        <img id="ayamgoreng" class="order_img" src="{% static 'ooink_images/ayamgoreng.jpg' %}" alt="Ayamgoreng Image">
                        <p class="text-center">AYAMGORENG</p>
                    </div>
                    <div class="border p-3">
                        <img id="chicken_sandwich" class="order_img" src="{% static 'ooink_images/chickensandwic.jpg' %}" alt="Chicken Sandwich Image">
                        <p class="text-center">CHICKEN SANDWICH</p>
                    </div>
                </div>
            </div>
            <div>
                <p id="beverages" class="mb-0 mt-3 order_heading">Beverages</p>
            </div>
            <div>
                <p id="beer" class="mb-0 mt-3 order_heading">Beer & Sake</p>
            </div>
            <div>
                <p id="merchandise" class="mt-3 order_heading">Merchandise</p>
            </div>
            <!-- <div class="popup-content"> -->
                <!-- <img src="{% static 'ooink_images/pouring_soup.jpg' %}" alt="Pouring Soup Image"> -->
                <!-- <button class="close">Close</button> -->
            <!-- </div> -->
        </div>
        <div class="d-inline-block border align-top order">
            <p class="text-center">YOUR ORDER</p>
            <!-- <div>
                {% for x in order_details %}
                <p>{{x}}</p>
                {% endfor %}
            </div> -->
            <div>
                {% for key, value in order_dict.items %}
                    <p class="mb-0">{{key}} | Quantity: {{value}}</p>
                    <a href="/increase_quantity/{{key}}" class="btn btn-outline-dark pr-1 pl-1 pt-0 pb-0">+</a>
                    <a href="/decrease_quantity/{{key}}" class="btn btn-outline-dark pr-1 pl-1 pt-0 pb-0">-</a>
                    <hr>
                {% endfor %}
            </div>
            <div>
                <p class="m-0">Subtotal: ${{ request.session.order_cost }}</p>
                <p>+ Sales Tax (10.25%): ${{request.session.sales_tax}}</p>
                <p>Total = ${{ request.session.order_total }} </p>
            </div>
            {% if request.session.order_cost == 0.0 %}
                <div>
                    <a href="/clear" id="delete_order" class="btn btn-outline-danger p-1 disabled"><img id="trash" src="{% static 'ooink_images/trash.svg' %}" alt="Trash">Delete Order</a>
                    <a href="/checkout" id="checkout" class="btn btn-success disabled">CHECKOUT</a>
                </div>
            {% else %}
                <div>
                    <a href="/clear" id="delete_order" class="btn btn-outline-danger p-1"><img id="trash" src="{% static 'ooink_images/trash.svg' %}" alt="Trash">Delete Order</a>
                    <a href="/checkout" id="checkout" class="btn btn-success">CHECKOUT</a>
                </div>
            {% endif %}
            </main>
            <div id="kotteri_popup" title="Kotteri $11.50" class="invisible">
                <img class="order_img" src="{% static 'ooink_images/kotteri.jpg' %}" alt="Kotteri Ramen Image">
                <p>COOK noodles at home and REHEAT soup.</p>
                <p>Rich & garlickly pork soup with black garlic oil, toasted wheat bran noodles, char siu pork, bamboo chutes, agi tamago, scallion, and garlic chips.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="kotteri">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="mala_kotteri_popup" title="Mala Kotteri $12" class="invisible">
                <img class="order_img" src="{% static 'ooink_images/mala_kotteri.webp' %}" alt="Mala Koterri Ramen Image">
                <p>COOK noodles at home and REHEAT soup.</p>
                <p>Ooink signature rich, garlic, numbing, and spicy silky pork soup, house fresh made noodle, char siu, bamboo, aji tarnago, scallions, and garlic chips.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="mala_kotteri">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="shio_popup" title="Shio $11" class="invisible">
                <img id="shio" class="order_img" src="{% static 'ooink_images/shio.webp' %}" alt="Shio Ramen Image">
                <p>COOK noodles at home and REHEAT soup.</p>
                <p>Silky pork soup with Hawaiian sea salt flavor, house fresh made noodle, char siu, bamboo shoots, aji tamago, scallions, and aroma oil.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="shio">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="shoyu_popup" title="Shoyu $11" class="invisible">
                <img id="shoyu" class="order_img" src="{% static 'ooink_images/shoyu.jpg' %}" alt="Shoyu Ramen Image">
                <p>COOK noodles at home and REHEAT soup.</p>
                <p>Silky pork soup with shoyu flavor, house fresh made noodle, char siu, bamboo shoots, aji tamago, scallions, and aroma oil.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="shoyu">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="spicy_vegetarian_popup" title="Spicy Vegetarian $12" class="invisible">
                <img id="spicy_vegetarian" class="order_img" src="{% static 'ooink_images/spicyvegetarian.jpg' %}" alt="Spicy Vegetarian Ramen Image">
                <p>COOK noodles at home and REHEAT soup.</p>
                <p>Vegan options available. Spicy miso flavored vegetarian soup, wooded mushrooms, house fresh made noodle, topped with green vegetables, corn butter, corn, and tofu skin.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="spicy_vegetarian">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="vegetarian_miso_popup" title="Vegetarian Miso $11.50" class="invisible">
                <img id="vegetarian_miso" class="order_img" src="{% static 'ooink_images/veg_miso.webp' %}" alt="Vegetarian Miso Image">
                <p>COOK noodles at home and REHEAT soup.</p>
                <p>Vegan option available. Miso flavored vegetarian soup, house fresh made noodle, wooded mushrooms, topped with green vegetables, corn butter, corn, and tofu skin.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="vegetarian_miso">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="shanghai_popup" title="Shanghai $6" class="invisible">
                <img class="order_img" src="{% static 'ooink_images/shanghai.jpg' %}" alt="Shanghai Image">
                <p>COOK noodles at home and REHEAT soup.</p>
                <p>Very light dashi soup with house shoyu tare, burned green onion, and house fresh made noodle.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="shanghai">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="ayamgoreng_popup" title="Ayamgoreng $9" class="invisible">
                <img id="ayamgoreng" class="order_img" src="{% static 'ooink_images/ayamgoreng.jpg' %}" alt="Ayamgoreng Image">
                <p>Malaysian style fried chicken wing marianated with spice and herbs.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="ayamgoreng">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
            <div id="chicken_sandwich_popup" title="Chicken Sandwich $9" class="invisible">
                <img id="chicken_sandwich" class="order_img" src="{% static 'ooink_images/chickensandwic.jpg' %}" alt="Chicken Sandwich Image">
                <p>Fried crispy chicken sandwich with shredded cabbage and special sauce.</p>
                <form action="/add_to_order" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="food" value="chicken_sandwich">
                    <select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select>
                    <button type="submit" class="btn btn-outline-primary">Add to order</button>
                </form>
            </div>
</body>
</html>