/* *{
    outline: red dotted 1px;
} */
.kit_image{
    width: 250px;
    height: auto;
}
.ooink_maps{
    width: 400px;
    height: auto;
}
.hours{
    width: 300px;
}
/* main{
    margin: 0 auto;
} */